/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
@import "normalize.css";
@import "map-sepia.css";
@import "grid.css";
@import "infoPage.css";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2A2C39;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}

section#map-section {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#map-holder {
    width: 100vw;
    height: 100vh;
}


/* svg rect {
    fill: #282931;
    /* map background colour 
} */

svg rect {
    fill: #1e3c5d
    /*  #417fc2; */
}


/* .country {
    fill: #d0d0d0;
    /* country colour 
    stroke: #2A2C39;
    /* country border colour 
    stroke-width: 1;
    /* country border width 
} */

.country {
    fill: #edf2ff;
    stroke: #3e6fbb;
    stroke-width: 1px;
}

.country-on {
    fill: #4B5358;
    /* highlight colour for selected country */
}

.countryLabel {
    display: none;
    /* hide all country labels by default */
}

.countryName {
    fill: #FFFAFF;
    /* country label text colour */
}

.countryLabelBg {
    fill: #30BCED;
    /* country label background colour */
}


/* #rangeYear {
    position: absolute;
    bottom: 5vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: auto;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.705);
    backdrop-filter: blur(10px);
} */

#rangeYear {
    position: absolute;
    bottom: 5vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(255 255 255);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 2px -2px gray;
}

#rangeYearBar {
    display: flex;
}


/* #play-button {
    font-size: 24px;
    cursor: pointer;
} */

#rangeYear input {
    width: 100%;
}


/* #rangeYear output {
    margin: auto;
    font-size: 2em;
    font-weight: 500;
} */

#rangeYear output {
    margin: auto;
    font-size: 2em;
    color: orange;
    font-weight: 600;
}


/* #searchBar {
    position: absolute;
    top: 5vh;
    left: 2vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.705);
    backdrop-filter: blur(10px);
} */

#searchBar {
    position: absolute;
    top: 5vh;
    left: 2vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 5px;
    /* background-color: #282931; */
    background-color: rgb(255, 255, 255);
    /* border-style: solid;
    border-width: 6px;
    border-color: orange; */
    /* backdrop-filter: blur(10px); */
    box-shadow: 0 4px 2px -2px gray;
}

#searchBar input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}


/* #avionCrashCard {
    background-color: rgba(255, 255, 255, 0.705);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: 1000;
    position: absolute;
    top: 30px;
    right: 50px;
    width: 20%;
} */

#avionCrashCard {
    background-color: rgb(255 255 255);
    -webkit-backdrop-filter: blur(10px);
    /* backdrop-filter: blur(10px); */
    border-radius: 5px;
    z-index: 1000;
    position: absolute;
    top: 30px;
    right: 50px;
    width: 20%;
    box-shadow: 0 4px 2px -2px gray;
}

#maCarte {
    padding: 20px;
}

.titreAvion {
    color: white;
}

#maCarte div.buttonGroup {
    display: flex;
    justify-content: space-between;
}

#maCarte a {
    color: black;
    text-decoration: none;
}

.material-icons.unfocus:hover,
#maCarte a:hover {
    color: white;
    cursor: pointer;
}

#infoButton.material-icons {
    z-index: 1000;
    position: absolute;
    top: 50vh;
    left: 50px;
    width: 2rem;
    height: 2rem;
    color: white;
    font-size: 48px;
    cursor: pointer;
}

#info-section {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background-color: white;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.close-info-section {
    /* position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem; */
    cursor: pointer;
}

#source a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: rgb(117, 117, 117);
    font-size: 0.8em;
    text-decoration: none;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    display: none;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media screen and (max-width: 767px) {
    #searchBar {
        top: 0;
        left: 0;
        width: 100vw;
        padding: 1rem;
    }
    #avionCrashCard {
        top: 0;
        right: 0;
        width: 100%;
    }
}

button.search {
    background-color: orange;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.5em;
    padding: 4% 0;
    border-radius: 5px;
    border-style: none;
}

button.emptySearch {
    background-color: #e75731;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.5em;
    padding: 4% 0;
    border-radius: 5px;
    border-style: none;
    margin-top: 8px;
}

#searchBar p {
    font-family: 'Montserrat';
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
}

input#searchByText {
    border-radius: 5px;
    border-style: solid;
    border-color: orange;
}

input#searchByDate {
    border-radius: 5px;
    border-style: solid;
    border-color: orange;
}


/* TEST  */

input[type=range] {
    height: 33px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #FF0000;
    background: #FFA947;
    border-radius: 28px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #283114;
    border: 1px solid #1E0909;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFA947;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #FF0000;
    background: #FFA947;
    border-radius: 28px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #283114;
    border: 1px solid #1E0909;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #FFA947;
    border: 0px solid #000101;
    border-radius: 56px;
    box-shadow: 0px 0px 0px #FF0000;
}

input[type=range]::-ms-fill-upper {
    background: #FFA947;
    border: 0px solid #000101;
    border-radius: 56px;
    box-shadow: 0px 0px 0px #FF0000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #283114;
    border: 1px solid #1E0909;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #FFA947;
}

input[type=range]:focus::-ms-fill-upper {
    background: #FFA947;
}

p.textCard {
    font-weight: 600;
    text-transform: uppercase;
    color: orange;
}

p.textCard span {
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
}

span#totalFound {
    display: none;
}

#infoButton {
    z-index: 1000;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 5.3rem;
    height: 5.3rem;
    color: white;
    font-size: 112px;
    cursor: pointer;
    background-image: url("/img/button_2.svg");
    background-repeat: no-repeat;
    background-size: 1em;
}

#play-button,
#stop-button {
    /* font-size: 24px; */
    cursor: pointer;
    /* height: 2em; */
    /* width: 2em; */
    font-size: 3em;
    color: #ff6700;
}