body {
    background-color: #fff !important;
}

#bodyInfoPage {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    /* scroll-behavior: smooth; */
}

#bodyInfoPage p {
    font-family: 'Futura', sans-serif;
}

.headerInfoPage {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(70deg, #6c6666 50%, #212121); */
    background-image: url("/img/bg_header_02.jpg");
}

.bg_pilote {
    height: 1080px;
    background-image: url("/img/pilote_avion.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

#containerInfoPage {
    margin: 0% 2%;
}

.fixedMenu {
    margin: 0 0 0 -45px !important;
    width: 101%;
    height: 150px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px gray;
}

.headInfoPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    padding-right: 2%;
    font-weight: 400;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul li {
    margin: 0 1rem;
}

.menu ul li a {
    text-decoration: none;
    /* color: #fff; */
    color: #2d2d2d;
    font-size: 1.5rem;
}

.activeMenu {
    background-image: url("/img/lienActive_v2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 60px;
    padding-bottom: 50px;
}

.menu ul li a:hover {
    background-image: url("/img/lienActive_v2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 60px;
    padding-bottom: 50px;
}

.logoAirCrach {
    width: 200px;
    /* height: 200px; */
    height: 150px;
    background-image: url("/img/logo_aricrach_menu_black_v2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 2%;
}

.headerSection {
    padding-top: 20%;
    width: 30%;
    color: #fff;
}

.headerSection h1 {
    font-size: 3.7rem;
    font-weight: 400;
    width: 700px;
}

.headerSection p {
    color: #d1d1d1;
    width: 700px;
    line-height: 1.5;
}

section.titleSection {
    padding: 110px 0 130px 0;
}

.titleSection h2 {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: #2d2d2d;
}

.titleSection p {
    text-align: center;
    margin: 0 20%;
    line-height: 1.5;
    color: #2d2d2d;
}

.close-info-section.infoButton.headerButton {
    margin-left: -28px;
    width: 200px;
}

.headerButton {
    display: flex;
    justify-content: left;
    align-items: center;
}

.headerButton:hover {
    transition: 0.3s ease-out;
    color: #f7931d;
}

.bloc_text h4 {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #2d2d2d;
}

.bloc_text p {
    text-align: justify;
    line-height: 1.5;
    color: #2d2d2d;
    width: 42%;
}

.footerButton {
    /* background-image: url("/img/button.svg");
    background-repeat: no-repeat;
    background-position: left center;
    /* height: 20px;
    width: 100px; 
    display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.monSuperBouton {
    background-image: url("/img/button.svg");
    background-repeat: no-repeat;
    background-position-y: 8px;
    height: 80px;
    width: 80px;
    /* padding-left: 00px; */
}

.txt_button {
    font-weight: 800;
}

.history {
    padding: 10% 2% 15% 2%!important;
}

.bg_NY {
    height: 560px;
    background-image: url("/img/bg_NY.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg_NY h3 {
    padding-top: 140px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.img_multi_NY {
    background-image: url("/img/bg_multi_NY.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-top: 0.5rem solid #000;
    border-bottom: 0.5rem solid #000;
}

.sectionNY {
    background-image: url(/img/bg_WTC.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 35%;
}

.sectionRioParis {
    background-image: url(/img/bg_aile.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 35%;
}


/* .sectionRioParis .bloc_text {
    text-align: right;
} */

.sectionMALAY {
    background-image: url(/img/bg_lost.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 35%;
}

.bg_RP {
    height: 560px;
    background-image: url("/img/bg_RIOPARIS.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg_RP h3 {
    padding-top: 140px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.img_multi_RP {
    background-image: url("/img/bg_multi_img_RIOPARIS.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-top: 0.5rem solid #000;
    border-bottom: 0.5rem solid #000;
}

.bg_MA {
    height: 560px;
    background-image: url("/img/bg_MALAYSIE.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg_MA h3 {
    padding-top: 140px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.img_multi_MA {
    background-image: url("/img/bg_multi_img_MALAYSIE.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-top: 0.5rem solid #000;
    border-bottom: 0.5rem solid #000;
}

.sectionContenu {
    display: flex;
    justify-content: space-between;
}

.bg_MAP {
    height: 560px;
    background-image: url("/img/bg_MAP.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg_MAP h3 {
    padding-top: 140px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
    text-transform: uppercase;
}


/* .bg_ombre {
    box-shadow: inset 0px 40px 7px -5px rgba(0, 0, 0, 0.494);
} */

.footerButton {
    text-align: center;
    font-size: 2em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
}

.footerButton:hover {
    transition: 0.3s ease-out;
    color: #f7931d;
}

footer {
    background-color: #303030;
    color: #fff;
    padding-bottom: 20px;
}

.logo_air_crash_footer {
    width: 200px;
    height: 200px;
    background-image: url("/img/logo_aricrach_black.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.logo_air_crash_footer:hover {
    transition: 0.3s ease-out;
    background-image: url("/img/logo_aricrach_orange.svg");
}

.contenu_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenu_footer a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.contenu_footer a:hover {
    transition: 0.3s ease-out;
    color: #f7931d;
}

.references {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.561);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.references:hover {
    transition: 0.3s ease-out;
    color: #f7931d;
}