#bodyInfoPage {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#headerInfoPage {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(70deg, #6c6666 50%, #212121); */
    background-image: url("/img/bg_header.png");
}

.bg_pilote {
    height: 1080px;
    background-image: url("/img/pilote_avion.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

#containerInfoPage {
    margin: 0 2%;
}

.headInfoPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul li {
    margin: 0 1rem;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.logoAirCrach {
    width: 200px;
    height: 200px;
    background-image: url("/img/logo_aricrach.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.headerSection {
    padding-top: 10%;
    width: 30%;
    color: #fff;
}

.titleSection h2 {
    text-align: center;
}

.titleSection p {
    text-align: center;
    margin: 0 25%;
}

.infoButton {
    background-image: url("/img/button.svg");
    background-repeat: no-repeat;
    background-position: left center;
    /* height: 20px;
    width: 100px; */
    display: block;
}

.txt_button {
    padding-left: 00px;
}

.bg_NY {
    height: 560px;
    background-image: url("/img/bg_NY.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg_NY h3 {
    padding-top: 140px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.img_multi_NY {
    background-image: url("/img/bg_multi_NY.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.bg_RP {
    height: 560px;
    background-image: url("/img/bg_RIOPARIS.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg_RP h3 {
    padding-top: 140px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.img_multi_RP {
    background-image: url("/img/bg_multi_img_RIOPARIS.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.bg_MA {
    height: 560px;
    background-image: url("/img/bg_MALAYSIE.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg_MA h3 {
    padding-top: 140px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.img_multi_MA {
    background-image: url("/img/bg_multi_img_MALAYSIE.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.sectionContenu {
    display: flex;
    justify-content: space-between;
}

.bg_MAP {
    height: 560px;
    background-image: url("/img/bg_MAP.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg_MAP h3 {
    padding-top: 140px;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.bg_ombre {
    box-shadow: inset 0px 40px 7px -5px rgba(0, 0, 0, 0.494);
}

.footerButton {
    text-align: center;
    font-size: 2em;
    color: #fff;
    text-shadow: #303030 7px 7px 5px;
    margin-top: 0;
}

footer {
    background-color: #303030;
    color: #fff;
}

.logo_air_crash_footer {
    width: 200px;
    height: 200px;
    background-image: url("/img/logo_aricrach_black.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.contenu_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}