#map-holder .sepia-0 {
    filter: sepia(1);
}

#map-holder .sepia-1 {
    filter: sepia(0.99);
}

#map-holder .sepia-2 {
    filter: sepia(0.98);
}

#map-holder .sepia-3 {
    filter: sepia(0.97);
}

#map-holder .sepia-4 {
    filter: sepia(0.96);
}

#map-holder .sepia-5 {
    filter: sepia(0.95);
}

#map-holder .sepia-6 {
    filter: sepia(0.94);
}

#map-holder .sepia-7 {
    filter: sepia(0.93);
}

#map-holder .sepia-8 {
    filter: sepia(0.92);
}

#map-holder .sepia-9 {
    filter: sepia(0.91);
}

#map-holder .sepia-10 {
    filter: sepia(0.9);
}

#map-holder .sepia-11 {
    filter: sepia(0.89);
}

#map-holder .sepia-12 {
    filter: sepia(0.88);
}

#map-holder .sepia-13 {
    filter: sepia(0.87);
}

#map-holder .sepia-14 {
    filter: sepia(0.86);
}

#map-holder .sepia-15 {
    filter: sepia(0.85);
}

#map-holder .sepia-16 {
    filter: sepia(0.84);
}

#map-holder .sepia-17 {
    filter: sepia(0.83);
}

#map-holder .sepia-18 {
    filter: sepia(0.82);
}

#map-holder .sepia-19 {
    filter: sepia(0.81);
}

#map-holder .sepia-20 {
    filter: sepia(0.8);
}

#map-holder .sepia-21 {
    filter: sepia(0.79);
}

#map-holder .sepia-22 {
    filter: sepia(0.78);
}

#map-holder .sepia-23 {
    filter: sepia(0.77);
}

#map-holder .sepia-24 {
    filter: sepia(0.76);
}

#map-holder .sepia-25 {
    filter: sepia(0.75);
}

#map-holder .sepia-26 {
    filter: sepia(0.74);
}

#map-holder .sepia-27 {
    filter: sepia(0.73);
}

#map-holder .sepia-28 {
    filter: sepia(0.72);
}

#map-holder .sepia-29 {
    filter: sepia(0.71);
}

#map-holder .sepia-30 {
    filter: sepia(0.7);
}

#map-holder .sepia-31 {
    filter: sepia(0.69);
}

#map-holder .sepia-32 {
    filter: sepia(0.68);
}

#map-holder .sepia-33 {
    filter: sepia(0.67);
}

#map-holder .sepia-34 {
    filter: sepia(0.66);
}

#map-holder .sepia-35 {
    filter: sepia(0.65);
}

#map-holder .sepia-36 {
    filter: sepia(0.64);
}

#map-holder .sepia-37 {
    filter: sepia(0.63);
}

#map-holder .sepia-38 {
    filter: sepia(0.62);
}

#map-holder .sepia-39 {
    filter: sepia(0.61);
}

#map-holder .sepia-40 {
    filter: sepia(0.6);
}

#map-holder .sepia-41 {
    filter: sepia(0.59);
}

#map-holder .sepia-42 {
    filter: sepia(0.58);
}

#map-holder .sepia-43 {
    filter: sepia(0.57);
}

#map-holder .sepia-44 {
    filter: sepia(0.56);
}

#map-holder .sepia-45 {
    filter: sepia(0.55);
}

#map-holder .sepia-46 {
    filter: sepia(0.54);
}

#map-holder .sepia-47 {
    filter: sepia(0.53);
}

#map-holder .sepia-48 {
    filter: sepia(0.52);
}

#map-holder .sepia-49 {
    filter: sepia(0.51);
}

#map-holder .sepia-50 {
    filter: sepia(0.5);
}

#map-holder .sepia-51 {
    filter: sepia(0.49);
}

#map-holder .sepia-52 {
    filter: sepia(0.48);
}

#map-holder .sepia-53 {
    filter: sepia(0.47);
}

#map-holder .sepia-54 {
    filter: sepia(0.46);
}

#map-holder .sepia-55 {
    filter: sepia(0.45);
}

#map-holder .sepia-56 {
    filter: sepia(0.44);
}

#map-holder .sepia-57 {
    filter: sepia(0.43);
}

#map-holder .sepia-58 {
    filter: sepia(0.42);
}

#map-holder .sepia-59 {
    filter: sepia(0.41);
}

#map-holder .sepia-60 {
    filter: sepia(0.4);
}

#map-holder .sepia-61 {
    filter: sepia(0.39);
}

#map-holder .sepia-62 {
    filter: sepia(0.38);
}

#map-holder .sepia-63 {
    filter: sepia(0.37);
}

#map-holder .sepia-64 {
    filter: sepia(0.36);
}

#map-holder .sepia-65 {
    filter: sepia(0.35);
}

#map-holder .sepia-66 {
    filter: sepia(0.34);
}

#map-holder .sepia-67 {
    filter: sepia(0.33);
}

#map-holder .sepia-68 {
    filter: sepia(0.32);
}

#map-holder .sepia-69 {
    filter: sepia(0.31);
}

#map-holder .sepia-70 {
    filter: sepia(0.3);
}

#map-holder .sepia-71 {
    filter: sepia(0.29);
}

#map-holder .sepia-72 {
    filter: sepia(0.28);
}

#map-holder .sepia-73 {
    filter: sepia(0.27);
}

#map-holder .sepia-74 {
    filter: sepia(0.26);
}

#map-holder .sepia-75 {
    filter: sepia(0.25);
}

#map-holder .sepia-76 {
    filter: sepia(0.24);
}

#map-holder .sepia-77 {
    filter: sepia(0.23);
}

#map-holder .sepia-78 {
    filter: sepia(0.22);
}

#map-holder .sepia-79 {
    filter: sepia(0.21);
}

#map-holder .sepia-80 {
    filter: sepia(0.2);
}

#map-holder .sepia-81 {
    filter: sepia(0.19);
}

#map-holder .sepia-82 {
    filter: sepia(0.18);
}

#map-holder .sepia-83 {
    filter: sepia(0.17);
}

#map-holder .sepia-84 {
    filter: sepia(0.16);
}

#map-holder .sepia-85 {
    filter: sepia(0.15);
}

#map-holder .sepia-86 {
    filter: sepia(0.14);
}

#map-holder .sepia-87 {
    filter: sepia(0.13);
}

#map-holder .sepia-88 {
    filter: sepia(0.12);
}

#map-holder .sepia-89 {
    filter: sepia(0.11);
}

#map-holder .sepia-90 {
    filter: sepia(0.1);
}

#map-holder .sepia-91 {
    filter: sepia(0.09);
}

#map-holder .sepia-92 {
    filter: sepia(0.08);
}

#map-holder .sepia-93 {
    filter: sepia(0.07);
}

#map-holder .sepia-94 {
    filter: sepia(0.06);
}

#map-holder .sepia-95 {
    filter: sepia(0.05);
}

#map-holder .sepia-96 {
    filter: sepia(0.04);
}

#map-holder .sepia-97 {
    filter: sepia(0.03);
}

#map-holder .sepia-98 {
    filter: sepia(0.02);
}

#map-holder .sepia-99 {
    filter: sepia(0.01);
}

#map-holder .sepia-100 {
    filter: sepia(0);
}